body{
font-family:Arial;
background:#f4f6f9;
padding:20px;
text-align:center;
}

.cards{
display:flex;
justify-content:center;
gap:10px;
margin:20px;
}

.cards div{
background:#4f46e5;
color:white;
padding:15px;
border-radius:10px;
width:120px;
}

input,select,button{
padding:10px;
margin:5px;
}

button{
background:green;
color:white;
border:none;
cursor:pointer;
}

table{
width:80%;
margin:auto;
background:white;
border-collapse:collapse;
}

th,td{
border:1px solid #ddd;
padding:10px;
}

.Submitted{color:green;font-weight:bold;}
.Pending{color:orange;font-weight:bold;}
.Late{color:red;font-weight:bold;}
